@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body nav {
  height: 60px;
  background-color: #333;
  padding: 5px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body nav h1 {
  color: #fff;
  font-weight: normal;
}

body .auth {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .auth #register-container {
  display: none;
}

.input-container {
  padding: 0 10px 5px 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-container:focus-within {
  border-bottom: 3px solid #8040F7;
}

.input-container:focus-within i {
  color: #333;
}

.input-container i {
  color: lightgray;
}

.input-container .input {
  font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  font-size: 25px;
  border: none;
  background: none;
  outline: none;
}

.no-icon {
  display: block;
}

.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-container button {
  font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  padding: 5px 20px;
  background-color: #8040F7;
  outline: none;
  border: none;
  border-radius: 20px;
  color: #fff;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.button-container button:hover {
  background-color: #7028f6;
}

.button-container button:active {
  -webkit-transform: scale(1.05, 1);
          transform: scale(1.05, 1);
}

.form-container {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-container form {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5 1fr);
  row-gap: 30px;
  padding: 50px;
  border-radius: 20px;
  -webkit-box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 1000px) {
  .form-container {
    width: 90%;
  }
  .form-container form {
    padding: 30px;
  }
}

small {
  font-size: 15px;
  color: #333;
}

small #register-link {
  cursor: pointer;
  color: #8040F7;
}
/*# sourceMappingURL=style.css.map */