@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: all .2s linear;

  nav{
    height: 60px;
    background-color: #333;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo{
      margin: 0 10px;
      color: #fff;
      font-weight: normal;
    }

    .buttons-bar{
      display: flex;
      align-items: center;
      .button{
        margin: 0 10px;
        font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        -webkit-tap-highlight-color: transparent;
        cursor: pointer;
        padding: 5px 20px;
        background-color: #8040F7;
        outline: none;
        border: none;
        border-radius: 20px;
        color: #fff;
        transition: all .1s linear;
        &:hover{
          background-color: darken($color: #8040F7, $amount: 5);
        }
        &:active{
          transform: scale(1.05,1);
        }
      }
    }

    .burger{
      display: none;
    }
  }

  .burger{
    margin: 0 10px;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    .burger-item{
      width: 20px;
      height: 2px;
      background: #fff;
      margin: 5px 0;
    }
  }

  .stats{
    text-align: center;
    padding: 20px 0;
    .date, .temp, .hu{
      font-weight: normal;
      transition: all .2s linear;
      color: #333;
    }
    .date{
      font-size: 40px;
    }
    .temp, .hu{
      font-size: 30px;
    };
  }

  .chart-container{
    width: 70vw;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1000px) {
  body {
    nav{
      .burger{
        display: block;
      }
      .buttons-bar{
        display: none;
        flex-direction: column;
        background: #333;
        height: calc(100vh - 60px);
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        #toggle-type{
          display: none; 
        }
        #toggle-theme{
          margin-bottom: 1px;
        }
        .button{
          height: 50px;
          border-radius: 0;
          width: 100%;
          margin: 0;
          &:hover{
            background-color: #8040F7;
          }
          &:active{
            background-color: darken($color: #8040F7, $amount: 5);
            transform: scale(1,1);
          }
        }
      }
      .open{
        display: block;
      }
    }
    .chart-container{
      display: none;
    }
  }
}

